<div class="con">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-4">
        <textarea cols="50" rows="20" id="content" ></textarea>
      </div>
      <div class="col-md-8 conf">
        <label>Keyword: </label><div  id="key"><br></div>
       <label>Token: </label> <div  id="identify"><br></div>
        <label>Number: </label><div  id="number"><br></div>
        <label>Relational operators : </label><div  id="rel_op"><br></div>
        <label>Calculator operators : </label><div  id="cal_op"><br></div>
        <label>Delimiter : </label><div  id="delimiter"><br></div>
        <label>String : </label><div  id="string"><br></div>
        <label>Unknow : </label><div  id="unknow"><br></div>
      </div>
    </div>
    <button id="action" >Next</button>
    <button id="action_all" >ALL</button>
    <button id="reset" >Reset</button>
  </div>
</div>
